@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500);

@blue: #3f7bff;

@font-face {
  font-family: ICOmoon;
  src: url(../fonts/icomoon.ttf);
  font-weight: normal;
}

.transition {
  transition: all .5s ease;
}

body {
  background: #ECECEC;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: all 1s ease;
  @media screen and (min-width: 992px) {
    display: none;
  }
}


.boxSizing {
  box-sizing: border-box;
}

// Header home page
header {
  height: 60px;
  background-color: @blue;
  border-bottom: 2px solid #204d74;
  line-height: 60px;
  color: #dedede;
  z-index: 1;
  nav {
    div {
      .boxSizing;
    }
    .circle {
      margin: 10px 0;
      height: 43px;
      width: 43px;
      border-radius: 50%;
      background: #0156A0;
      border: 2px solid #6EA4B3;
      text-align: center;
      line-height: 40px;
    }
    #profile {
      float: left;
    }
    #menu {
      float: right;
    }
    #title {
      text-align: center;
      color: #ffffff;
    }
  }
}

//****************************** Authorization ****************************//
//*************************************************************************//

#authorization {
  height: 100%;
  width: 100%;
  top: 0;
  background: #fff;
  opacity: .95;
  position: absolute;
  z-index: 2;
  .container {
    position: absolute;
    height: 400px;
    background: #E0E0E0;
    .boxSizing;
    box-shadow: 0 0 14px rgba(0,0,0,.3);
    border: 1px solid #B9B9B9;
    .btnGroup {
      height: 50px;
      .boxSizing;
      border: 1px solid #B9B9B9;
      line-height: 50px;
      text-align: center;

    }
    .active {
      border-bottom: none;
    }
    .enter {
      height: 50px;
      line-height: 50px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: #CCCAC8;
      border: 1px solid rgba(0,0,0,0);
      #enterBtn {
        .boxSizing;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        border: 1px solid #9A9A9A;
        background: #E0E0E0;
        height: 100%;
      }
    }
    #contentAuthorization {
      input.login,
      input.reg{
        height: 40px;
        width: 100%;
        background: none;
        border: 1px solid #949494;
        border-radius: 2px;
        margin: 20px 0;
        padding: 0 10px;
        .boxSizing;
        color: #101010;
        font-size: 18px;
      }
      input.reg {
        margin: 15px 0;

      }
      p {
        input {
          height: 20px;
          width: 20px;
          margin: 10px;
        }
      }
    }
  }
  .more {
    top: 50%;
    margin-top: -200px;
  }
}


//******************************** Spinner ********************************//
//*************************************************************************//

.spinner {
  position: absolute;
  font-size: 30px;
  color: #9f9f9f;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  z-index: 3;
  display: none;
}

.visible {
  display: block;
}

.icon-spinner2 {

}

//******************************** WhatName *******************************//
//*************************************************************************//

#yourName {
  height: 100%;
  width: 100%;
  top: 0;
  background: #fff;
  opacity: .85;
  position: absolute;
  z-index: 2;
  .wrapper {
    top: 50%;
    height: 200px;
    width: 100%;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    h3 {
      color: #444;
    }
    input {
      display: block;
      .boxSizing;
      height: 35px;
      border-radius: 2px;
      font-size: 20px;
      color: #444444;
      padding: 0 3px;
      border: 1px solid #999;
      text-align: center;
    }
    input[type=submit] {
      position: absolute;
      bottom: 10px;
      background: dodgerblue;
      color: #fff;
      border: 1px solid #23527c;
    }
    .disabled {
      background: #777!important;
      border: 1px solid #333!important;
    }
    .valid {
      outline: none;
      border: 1px solid forestgreen;
    }
    .invalid {
      outline: none;
      border: 1px solid red;
    }
    p#infoAboutName {
      font-size: 14px;
      display: inline-block;
    }
  }
}

//****************************** Alert Window *****************************//
//*************************************************************************//

.alert {
  position: fixed;
  bottom: 10px;
  width: 80%;
  z-index: 100;

  margin-left: 10%;

  background: #333;
  color: #fff;
  text-align: center;
  line-height: 40px;
  display: none;
  .boxSizing;
}

//********************************* Section *******************************//
//*************************************************************************//

section {
  .main-group {
    list-style-type: none;
    padding: 0 15px;
    width: 100%;
    .boxSizing;
    li {
      height: 100px;
      width: 100%;
      background: #dedede;
      margin-bottom: 15px;
      position: relative;
      box-shadow: 0 0 5px rgba(0,0,0,.4);
      img {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
      }
    }
    .animatePlates {

    }
  }
}

#chest {
  background: url(../img/chest.jpg) no-repeat center;
  background-size: cover;
  -ms-background-position-y: -28px;
  background-position-y: -28px;
}
#arms {
  background: url(../img/arms.jpg) no-repeat center;
  background-size: cover;
}
#legs {
  background: url(../img/legs.jpg) no-repeat center;
  background-size: cover;
}
#back {
  background: url(../img/back.jpg) no-repeat center;
  background-size: cover;
}
#shoulders {
  background: #fff url(../img/shoulders.jpg) no-repeat center;
  background-size: cover;
}
#press {
  background: url(../img/press.jpg) no-repeat center;
  background-size: cover;
}

//****************************** List Exercise ****************************//
//*************************************************************************//

.wrapper {
  width: 100%;
  padding: 0 15px;
  .boxSizing;
  #AddExercise {
    margin: 15px auto;
    height: 40px;
    width: 100%;
    max-width: 420px;
    background: #dedede;
    border: 1px solid #999;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    position: relative;
    input {
      height: 100%;
      width: 0;
      float: left;
      left: -20px;
      border-radius: 3px;
      font-size: 20px;
      border: none;
      transition: all .3s ease;
      .boxSizing;
      opacity: 0;
    }
    .open {
      opacity: 1;
      width: 80%;
      padding: 0 10px;
      border: 1px solid #999;
    }
    button {
      padding: 0 15px;
      border: none;
      font-size: 20px;
      color: #777;
      background: none;
      line-height: 40px;
      &:focus {
        outline: none;
      }
    }
  }
  #listExercise {
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    li {
      display: block;
      width: 100%;
      max-width: 420px;
      position: relative;
      .transition;
      line-height: 55px;
      text-align: center;
      background: #ebebeb;
      margin: 10px auto;
      box-shadow: 0 1px 5px rgba(0,0,0,.4);
      font-size: 18px;
    }
  }
}


//******************************** Animation ******************************//
//*************************************************************************//
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

//**************************** Exercise Template **************************//
//*************************************************************************//

.exerciseTemp {
  margin: 0 auto;
  background: #4169E1;
  .wrapper-exs {
    text-align: center;
    color: #ffffff;
    .changed {
      opacity: 1 !important;
    }
    #label {
      margin: 0 auto;
      width: 150px;
      background: rgba(255, 255, 255, .6);
      border: 1px solid #fff;
      border-top: none;
      border-radius: 0 0 15px 15px;
      p {
        display: inline-block;
        line-height: 2px;
      }
      p#labelExercise {
        margin-top: 0;
      }
    }
    #title {
      margin: 10px 0;
    }
    .average {
      p {
        margin: 5px 0;
        display: inline-block;
      }
      p:first-child {
        font-size: 22px;
        font-weight: bold;
      }
    }
    .navigation {
      margin-top: 30px;
      div {
        display: inline-block;
        height: 50px;
        width: 50px;
        border: 1px solid #dedede;
        border-radius: 3px;
        line-height: 50px;
      }
      .btnExs {
        background: rgba(255,255,255, .3);
      }
      .window {
        width: 80px;
        font-size: 20px;
        font-weight: bold;
        opacity: .35;
        line-height: 46px;
        background: rgba(255,255,255, .15);
        transition: all .2s ease;
      }
    }
    .times {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
      opacity: .35;
      transition: all .2s ease;
    }
    .inp-range {
      .boxSizing;
      margin-bottom: 10px;
      &:focus {
        outline: none;
      }
    }
    input[type=range] {
      -webkit-appearance: none;
      width: 90%;
      border-radius: 8px;
      height: 7px;
      border: 1px solid #bdc3c7;
      background-color: #fff;
      &:focus {
        outline: none;
      }
    }
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #ecf0f1;
      border: 1px solid #bdc3c7;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      cursor: pointer;
    }
    input[type=range]::-moz-range-track {
      border-radius: 8px;
      height: 7px;
      border: 1px solid #bdc3c7;
      background-color: #fff;
    }
    input[type=range]::-moz-range-thumb {
      background: #ecf0f1;
      border: 1px solid #bdc3c7;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  #chart {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 160px;
    padding: 0;
    background: rgba(255,255,255,.35);
    .boxSizing;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    div {
      background: #fff;
      margin: 0 2px;
      height: 0;
      width: 100%;
      min-width: 4px;
      max-width: 8px;
      opacity: .8;
      color: #dedede;
      transition: all 1s ease;
    }
  }
}

.swiper-container {
  width: 100%;
}
